R2_ACCOUNT_ID=<account_id>
R2_ACCESS_KEY_ID=<access_key_id>
R2_SECRET_ACCESS_KEY=<secret_access_key>
R2_BUCKET=hhk-tts-audio
R2_PUBLIC_BASE_URL=<public_development_url>
R2_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
